.location{
    display: flex;

    // Commpon styles just for the contact layout
    &.contact {
        .thumbnail [class*="ca-gov-icon-"]{
            font-size: 3.5rem;
            margin-right: $spacer;
            color: var(--bs-gray-300, $gray-300);
        }

        .btn {
            margin-top: $spacer;
        }
    }

    // these styles apply to all contact layouts contact section
    & .contact{
        margin: $spacer;
        margin-left: 0;
            

        p{
            margin-bottom: 0;
        }

        a:not(.btn) {
            display: block;
            padding: 0 !important;
        }
    }

    // Commpon styles just for the mini layout
    &.mini{
        .thumbnail {
            [class*="ca-gov-icon-"]{
                font-size: 3.5rem;
                margin-right: $spacer;

                background-color: var(--bs-black, $black);
                @include social-media(false);
            }

        }
    }

    // Commpon styles just for the banner layout
    &.banner{
        background-color: var(--bs-gray-75, $gray-75);

        .thumbnail{
            width: 225px;
            height: 100%;
            margin: $spacer;
        }

        .contact .address{
            display: flex;
        }

        .summary{
            margin: $spacer;
            width: 100%;

            .description{
                padding-bottom: $spacer * .5;
            }
            
            .btn {
                float: right;
            }
        }
    }
}